@{
    ViewData["Title"] = "Index";
}

<h1>Mis Pokemones</h1>
<h5>Nombre:</h5>
<p> @ViewBag.Entrenador.Nombre</p>



<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Fecha de Captura</th>
            <th>Imagen</th>
        </tr>
       
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.Detalle)
        {
            <tr>
                <td>@ViewBag.Index[item.IdPokemon].Id</td>
                <td>@ViewBag.Index[item.IdPokemon].Nombre</td>
                <td>@ViewBag.Index[item.IdPokemon].Tipo</td>
                <td>@item.FechaCaptura </td>
                <td>
                    <img height="50" src="~/images/@ViewBag.Index[item.IdPokemon].Imagen" />
                </td>
                <td>
                    <a href="/Pokemon/EliminarPokemon?IdPokemon=@ViewBag.Index[item.IdPokemon].Id">Liberar pokemon</a>
                </td>

            </tr>
        }
    </tbody>
</table>